# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.dirstamp
*.deps
*.log
*.status

#emacs backup files
#++++
*.*~

# Vim backup files
*.*.swp

# IDE trash folder
.idea
.vscode

# Generated sources
src/device/comm/transfer_device.cu
src/include/non_abi/nvshmem_build_options.h
src/include/non_abi/nvshmem_version.h
test/common/include/non_abi/device/pt-to-pt/transfer_device.cuh

# gtest artifacts
_deps

# tarballs
*.tar

# Build and install targets
build/
bin/
install/
perftest_install/
examples_install/
test_install/
git_commit.txt
version.txt

# local debug for coverity
.gitlab-ci-4-coverity*.yml
.gitlab-ci-4-coverage*.yml
.Makefile*
.version.mk
.common.mk

# CMake artifacts
*CMakeFiles*
CMakeCache.txt
*Makefile
CPack*Config.cmake
NVSHMEM*.cmake
*CTest*.cmake
cmake_install.cmake

# nvshmem4py objects
nvshmem4py/CMakeFiles/
nvshmem4py/*.cmake
nvshmem4py/nvshmem/bindings/*.cpp
nvshmem4py/nvshmem/bindings/_internal/*.cpp
nvshmem4py/*.egg-info
nvshmem4py/pyproject.toml

# Filesystem objects
.DS_STORE
.nfs*
