# These are optional dependencies
# nvshmem4py is aware of and interoperable with them
# but doesn't depend on them
mpi4py
--index-url https://download.pytorch.org/whl/cu129
--extra-index-url https://pypi.org/simple
torch==2.8.0
--index-url https://pypi.org/simple
ml-dtypes
# NOTE! If you are installing PyTorch, you should install these requirements AFTER PyTorch.
# Pytorch has a hard pin to these libraries. Because of CUDA-compatibility, these versions work
# But older ones that pytorch pulls in will not.
nvidia-cuda-nvcc-cu12
nvidia-nvjitlink-cu12
